.box {
  border: 2px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
